:root {
    --primary_color: white;
    --secondary_color: black;
}


#navbar-section {
    background-color: var(--secondary_color);
}

#hero-section {
    background-color: var(--secondary_color);
}

#slider-section {
    background-color: var(--secondary_color);
}

#faq-section {
    background-color: var(--secondary_color);
}
/* ------------------------------------------------------------------------------------------------------------------------------- */

/* Media Queries - Responsiveness for mobile screens */
@media (min-width: 576px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* FAQ Section Styles */
#FAQs {
    background-color: black;
    height: 100%;
    background-size: cover;
    color: rgb(243, 239, 239);
}

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.faq-title {
    font-size: 2rem;
    margin: 2rem 0rem;
}

.faq {
    max-width: 80%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* --------------------------------------------------------------------------------------------------------------------------------- */

/* Reviews or Testimonials Styles */
#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: poppins;
    background-color: black;
    height: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.423);
    border-radius: 10px;
    background-color: #0000008d;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #c0bebe;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #949494;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media (max-width: 1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media (max-width: 790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h4 {
        font-size: 1.4rem;
    }
}

@media (max-width: 340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

/* Footer Section Styles  */
footer {
    background-color: black;
    padding: 50px;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #1f1c1c;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    text-align: center;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
